.wrapper {
  display: grid;
  place-items: center;
}

main, form {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}


main {
  width: 90%;
  margin: 0 auto;
  margin-top: 2.25em;
}


.movies__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 2.25em;
}

.movies__list {
  margin: 0.25em 0;
}
